{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{{'course.generalSearch.search' | trans }}{% endblock %}
{% block pageTitle %}{{'course.generalSearch.search' | trans }}{%endblock%}
{% block rootPath %}
	<li><a href="{{ path('courses_list')}}" class="divider">{{'course' | trans }}</a></li>
{% endblock %}

{% block inky_body %}
	{% if issetResult == null %}
		{{'course.generalSearch.no_result' | trans }}
	{% else %}
		Course
		{% for course in issetResult %}
			<br/>{{course.title}} - {{course.id}}
		{% endfor %}
	{% endif %}
{% endblock %}