{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'course.showCourses.course_list' | trans }}{% endblock %}
{% block ownStyle %}
<style type="text/css">
body{
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, {{bgColor}}));
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: linear-gradient(to top, #FFFFFF 0%, {{bgColor}} 100%);
}
.inky-template {
  border:none;
  box-shadow:none;
  background:transparent;
  padding:0;
  margin:0;
}
ul.root-path{
display:none;
}
</style>
{% endblock ownStyle %}
{% block inky_body %}
{{totalNbCourses}} courses
{{nbCoursePerPage}} coursesper page
	<div class="courses-search-box" style="width:100%;padding:15px;">
		<div class="input-group input-group-lg inner-courses-search-box" style="margin:auto;">
			<input type="text" class="form-control" id="search_input" placeholder="{{'search'|trans}}">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" id="go_search" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
					<span class="glyphicon glyphicon-filter"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					<li class="dropdown-header">{{'filter.filter'|trans}}</li>
					<li><a href="#">{{'filter.relevance'|trans}}</a></li>
					<li><a href="#">{{'filter.ratings'|trans}}</a></li>
					<li><a href="#">{{'filter.creationDate'|trans}}</a></li>
					<li><a href="#">{{'filter.popular'|trans}}</a></li>
					<li class="divider"></li>
					<li class="dropdown-header">{{'filter.duration'|trans}}</li>
					<li><a href="#">{{'filter.duration.long'|trans}}</a></li>
					<li><a href="#">{{'filter.duration.short'|trans}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div style="width:100%;margin-bottom:15px;">
	</div>
	<div style="clear:both;"></div>
	{% if courseList|length > 0 %}
		<div id="courseListContainer" class="masonry js-masonry"  data-masonry-options='{"isFitWidth": true, "gutter": 12}'>
			{% include 'InkyCourseBundle:Course:showCoursesContent.html.twig' %}
		</div>
	{% else %}
		<div class="no-result" style="">
			{{ 'course.showCourses.nothing_here' | trans }}
		</div>
	{% endif %}	
	
	{% if nbCoursePerPage < totalNbCourses %}
		<input id="courseStart" value="{{nbCoursePerPage}}" readonly style="visibility:hidden"/>
		<div id="fetcherContainer" class="progress">
			<div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width: 100%" id="fetch" >
				<button class="" id="fetch" type="button">{{'course.showCourses.load_more'|trans}}</button>
			</div>
		</div>
	{% endif %}
	
{% endblock inky_body %}

{% block moreJs %}
<script type="text/javascript">
$( "#go_search" ).click(function() {
  if($('#search_input').val()){window.location.replace( "{{ path('general_search') }}/"+$('#search_input').val() );}
});
{% if nbCoursePerPage < totalNbCourses %}
	$(document).ready(function() {
		var $prototype = $('#courseListContainer');
		$('button#fetch').click(function(e) {
			var courseStart = parseInt($('#courseStart').val());
			$('#fetcherContainer').addClass('progress-striped active');
			$.ajax({
				type: 'POST',
				data: {'CourseStart' : courseStart},          
				url:  '{{ path("courses_list",{"section":section}) }}',      
				success: function(response) {
					 // Make jQuery object from HTML string
					var $moreBlocks = jQuery(response).filter('div.item');
					// Append new blocks to container
					$prototype.append( $moreBlocks );
					// Have Masonry position new blocks ;-)
					$prototype.masonry( 'appended', $moreBlocks ); 
					
					$('#fetcherContainer').removeClass('progress-striped active');
					courseStart = parseInt(courseStart+{{nbCoursePerPage}});
					$('#courseStart').val(courseStart);
					if( parseInt(courseStart) >= parseInt({{totalNbCourses}}) ){ $('#fetcherContainer').css("display","none"); }
					},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(thrownError);
				}
			});
		});
	});
{% endif %}
</script>
{% endblock %}