{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{{ 'course.showCourses.course_list' | trans }}{% endblock %}
{% block ownStyle %}
<style type="text/css">
body{
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, {{bgColor}}));
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, {{bgColor}} 100%);
background-image: linear-gradient(to top, #FFFFFF 0%, {{bgColor}} 100%);
}
.inky-template {
  border:none;
  box-shadow:none;
  background:transparent;
  padding:0;
  margin:0;
}
ul.root-path{
display:none;
}
</style>
{% endblock ownStyle %}
{% block inky_body %}
<div class="courses-search-box" style="width:100%;padding:15px;">
    <div class="input-group input-group-lg inner-courses-search-box" style="margin:auto;">
		<input type="text" class="form-control" id="search_input" placeholder="{{'search'|trans}}">
		<div class="input-group-btn">
			<button type="button" class="btn btn-default" id="go_search" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
				<span class="glyphicon glyphicon-filter"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li class="dropdown-header">{{'filter.filter'|trans}}</li>
				<li><a href="#">{{'filter.relevance'|trans}}</a></li>
				<li><a href="#">{{'filter.ratings'|trans}}</a></li>
				<li><a href="#">{{'filter.creationDate'|trans}}</a></li>
				<li><a href="#">{{'filter.popular'|trans}}</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">{{'filter.duration'|trans}}</li>
				<li><a href="#">{{'filter.duration.long'|trans}}</a></li>
				<li><a href="#">{{'filter.duration.short'|trans}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div style="width:100%;margin-bottom:15px;">
</div>
	<div style="clear:both;"></div>
{% if courseList|length > 0 %}
<div class="masonry js-masonry"  data-masonry-options='{"isFitWidth": true, "gutter": 12}'>

	{% for course in courseList %}
	<div class="item">
		{% if course.image%}
		<div >
			<a href="{{ path('course_view', {'course': course.id}) }}" class="courses">
				<img  src="{{ asset(course.image.webPath) }}" alt="{{ course.image.alt }}"/>
			</a>
		</div>
		{% else %}
		<div >
			<a href="{{ path('course_view', {'course': course.id}) }}" class="courses">
				<img  src="../../web/uploads/img/course.png" alt="noimg"/>
			</a>
		</div>
		{% endif %}
		<div class="courses-detail" >
			<a href="{{ path('course_view', {'course': course.id}) }}" ><h4>{{course.title}}</h4></a><br/>
			{{course.description|raw}}<br/>
		{% for tags in course.tags %}
			<span class="label label-info">{{tags.tagLabel}}</span>
		{% endfor %}
		</div>
		<div class="clearfix"></div>
	</div>
	
	{% endfor %}
</div>
{% else %}
<div class="no-result" style="">
{{ 'course.showCourses.nothing_here' | trans }}
</div>
{% endif %}
{% endblock %}
{% block moreJs %}
	
<script type="text/javascript">
$( "#go_search" ).click(function() {
  if($('#search_input').val()){window.location.replace( "{{ path('general_search') }}/"+$('#search_input').val() );}
});
</script>
{% endblock %}