
	{% for course in courseList %}
	<div class="item">
		{% if course.image%}
		<div >
			<a href="{{ path('course_view', {'course': course.id}) }}" class="courses">
				<img  src="{{ asset(course.image.webPath) }}" alt="{{ course.image.alt }}" />
			</a>
		</div>
		{% else %}
		<div >
			<a href="{{ path('course_view', {'course': course.id}) }}" class="courses">
				<img  src="../../web/uploads/img/course.png" alt="noimg" />
			</a>
		</div>
		{% endif %}
		<div class="courses-detail" >
			<a href="{{ path('course_view', {'course': course.id}) }}" ><h4>{{course.title}}</h4></a><br/>
			{{course.description|raw}}<br/>
		{% for tags in course.tags %}
			<span class="label label-info">{{tags.tagLabel}}</span>
		{% endfor %}
		</div>
		<div class="clearfix"></div>
	</div>
	
	{% endfor %}
