{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{{ lesson.title }} - {{ 'course.ask.ask_question' |trans }}{% endblock %}
{% block pageTitle %}{{ 'course.ask.ask_question' |trans }}{%endblock%}
{% block rootPath %}
	<li><a href="{{ path('courses_list')}}" class="divider">{{ 'courses' |trans }}</a></li>
	<li><a href="{{ path('course_view', {'course': lesson.course.id}) }}" class="divider">{{ lesson.course.title }}</a></li>
	<li><a href="{{ path('lesson_view', {'lesson': lesson.id}) }}" class="divider">{{ lesson.title }}</a></li>
	<li>{{ 'course.ask.ask_question' |trans }}</li>
{% endblock %}

{% block inky_body %}
<div>	
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': lesson.id} %}
</div>
{% endblock %}

