	<div class="panel-group pull-right col-sm-4 col-md-3"  style="margin:0 -15px 15px 15px ;" id="accordion">
	{% if (is_granted('IS_AUTHENTICATED_REMEMBERED')) and (lesson.user.id == app.user.id) %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
			{{ 'couse.lessonMenu.administration' | trans }}
			</a>
		  </h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<h4>{{ 'couse.lessonMenu.lesson' | trans }}</h4>
				<a href="{{ path('lesson_edit', {'lesson': lesson.id}) }}" >{{ 'couse.lessonMenu.edit_lesson' | trans }}</a><br/>
				<a href="{{ path('lesson_delete', {'lesson': lesson.id}) }}" >{{ 'couse.lessonMenu.delete_lesson' | trans }}</a><br/>
				<h4>{{ 'couse.lessonMenu.groups' | trans }}</h4>
				<a href="{{ path('course_group', {'course': lesson.course.id}) }}" >{{ 'couse.lessonMenu.manage_groups' | trans }}</a><br/>
				<a href="{{ path('lesson_statistics', {'lesson': lesson.id}) }}" >{{ 'couse.lessonMenu.statistics' | trans }}</a><br/>
				<h4>{{ 'couse.lessonMenu.assignments' | trans }}</h4>
				<a href="{{ path('edit_quizzes', {'lesson': lesson.id}) }}">{{ 'couse.lessonMenu.manage_quizes' | trans }}</a><br/>
				<a href="{{ path('add_quiz', {'lesson': lesson.id}) }}">{{ 'couse.lessonMenu.create_quiz' | trans }}</a><br/>
			</div>
		</div>
	</div>
	{% endif %}
	  <div class="panel panel-default">
		<div class="panel-heading" style="margin:0;">
		  <h4 class="panel-title" style="margin:0;">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			  {{ 'couse.lessonMenu.content' | trans }}
			</a>
		  </h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
		  <div class="panel-body">
				<span class="glyphicon glyphicon-star"></span><a href="{{ path('lesson_view', {'lesson': lesson.id}) }}">{{ 'couse.lessonMenu.main_content' | trans }}</a><br/>
				<span class="glyphicon glyphicon-star"></span><a href="{{ path('lesson_documentation', {'lesson': lesson.id}) }}">{{ 'couse.lessonMenu.documentation' | trans }}</a><br/>
		  </div>
		</div>
	  </div>
	  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	  <div class="panel panel-default">
		<div class="panel-heading">
		  <h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{{ 'couse.lessonMenu.get_help' | trans }}</a>
		  </h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<span class="glyphicon glyphicon-star"></span><a href="{{ path('lesson_ask', {'lesson' : lesson.id}) }}">{{ 'couse.lessonMenu.ask_question' | trans }}</a><br/>
				<span class="glyphicon glyphicon-star"></span><a href="#content">{{ 'couse.lessonMenu.go_forum' | trans }}</a><br/>
			</div>
		</div>
	  </div>
	{% endif %}
</div>