{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }}{{ lesson.title }}{% endblock %}
{% block pageTitle %}{{ lesson.title }}{%endblock%}
{% block rootPath %}
	<li><a href="{{ path('courses_list')}}" class="divider">{{ 'courses' | trans }}</a></li>
	<li><a href="{{ path('course_view', {'course': lesson.course.id}) }}" class="divider">{{ lesson.course.title }}</a></li>
	<li>{{ lesson.title }}</li>
	<li>{{ 'course.newInkyVideo.new_inky_video' | trans }}</li>
{% endblock %}

{% block inky_body %}

	{% for message in app.session.flashbag.get('lessonInfo') %}<div class="alert alert-success">{{ message }}</div>{% endfor %}

	<form action="{{ path('inky_video_add', {'lesson': lesson.id}) }}" role="post" class="form-horizontal"  method="post" class="form-control" {{form_enctype(form) }}>
	{{ form_errors(form) }}
	<div  class="form-group">
		{{ form_label(form.title, 'course.newInkyVideo.new_inky_title' | trans , {'label_attr': {'class': 'col-sm-3'}}) }}
		{{ form_errors(form.title) }}
		<div class="col-sm-9">
			{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
		</div>
	</div>
	
	<div  class="form-group">
		{{ form_label(form.url, 'course.newInkyVideo.new_inky_url' | trans , {'label_attr': {'class': 'col-sm-3'}}) }}
		{{ form_errors(form.url) }}
		<div class="col-sm-9">
			{{ form_widget(form.url) }}
		</div>
	</div>
	
	{{ form_rest(form) }}
	<input type="submit" class="btn btn-primary" />
	</form>

{% endblock %}