{% extends "InkyUserBundle::layout.html.twig" %}

{% set page_name = 'Assignment results' %}
{% block title %}{{ parent() }} {{page_name}}{% endblock %}
{% block pageTitle %}{{page_name}}{%endblock%}
{% block rootPath %}
	<li><a href="{{ path('user_profile',{user : app.user.id})}}" class="divider">{{app.user.username}}</a></li>
	<li>{{page_name}}</li>
{% endblock %}
{% block inky_body %}
	Here you will have your graded assignments
{% endblock inky_body %}
