
	<div>
		<ul class="panel-bar panel" >
			<li><a href="{{ path('user_progress')}}"><span class="glyphicon glyphicon-fire"></span> {{'user.menu.progress' |trans }}</a></li>
			<li><a href="{{ path('user_results')}}"><span class="glyphicon glyphicon-tasks"></span> {{'user.menu.results' | trans }}</a></li>
			<li><a href="{{ path('user_job_to_do')}}"><span class="glyphicon glyphicon-list-alt"></span> {{'user.menu.to_do' | trans }}</a></li>
			<li><a href="{{ path('user_discussion')}}"><span class="glyphicon glyphicon-comment"></span> {{'user.menu.discussion' | trans }}</a></li>
			<li><a href="{{ path('join_group')}}"><span class="glyphicon glyphicon-transfer"></span> {{'user.menu.join_group' | trans }}</a></li>
			<li><a href="{{ path('user_wish_list')}}"><span class="glyphicon glyphicon-heart-empty"></span> {{'user.menu.wish_list' | trans }}</a></li>
		</ul>
	</div>
<div class="clearfix" style="width:100%;"></div>