{% extends "InkyUserBundle::layout.html.twig" %}

{% set page_name = 'Wish List' %}
{% block title %}{{ parent() }} {{page_name}}{% endblock %}
{% block pageTitle %}{{page_name}}{%endblock%}
{% block rootPath %}
	<li><a href="{{ path('user_profile',{user : app.user.id})}}" class="divider">{{app.user.username}}</a></li>
	<li>{{page_name}}</li>
{% endblock %}
{% block inky_body %}
{{ render(controller('InkyUserBundle:User:PanelMenu')) }}
	When you see a lesson that you like you can add it here. You first need to learn the requirement for this lesson and then you can come back here.<br/>
	
	{% if courseLength>0 %}
		{% for c in courseList %}
			{{c.course.id}}<br/>
		{% endfor %}
	{% else %}
		Nothing found
	{% endif %}
	
{% endblock inky_body %}
